# APPWRITE_ENDPOINT: Your Appwrite API endpoint
VITE_APPWRITE_ENDPOINT="https://cloud.appwrite.io/v1"

# APPWRITE_PROJECT_ID: Your Appwrite project ID
VITE_APPWRITE_PROJECT_ID=""

# APPWRITE_DATABASE_ID: Your Appwrite database ID
VITE_APPWRITE_DATABASE_ID=""

# APPWRITE_COLLECTION_PLAYERS_ID: ID for the players collection
VITE_APPWRITE_COLLECTION_PLAYERS_ID=""

# APPWRITE_COLLECTION_EVENTS_ID: ID for the events collection
VITE_APPWRITE_COLLECTION_EVENTS_ID=""

# APPWRITE_COLLECTION_SCORES_ID: ID for the table that contains individual scores/points
VITE_APPWRITE_COLLECTION_SCORES_ID=""
